<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="topics">

<head>

    <meta charset="UTF-8">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>


    <!-- JS -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/static/javascript/script}"></script>

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>

    <title>PDF</title>

</head>


<body>
<header></header>

<main role="main" class="wrap">
    <div class="container-wrapper">

        <h1>This is a Test</h1>

        <form th:object="${magic}" th:action="@{/magic/home}" method="post">

        <!-- Test saving a number -->
            <div class="form-group">
                <label for="numberTest" class="form-label">Number:</label>
                <input type="number" id="numberTest" name="numberTest" class="form-control" required>
            </div>

            <!-- Test saving a text -->
            <div class="form-group">
                <label for="rndmTextTest" class="form-label">Write Text:</label>
                <input type="text" id="rndmTextTest" name="rndmTextTest" class="form-control" required>
            </div>

            <!-- Test saving from a DropDown -->
            <div class="form-group">
                <label for="dropDownTest" class="form-label">Options:</label>
                <select id="dropDownTest" name="dropDownTest" class="form-control" required>
                    <option th:value="'O1'" th:text="Option1"></option>
                    <option th:value="'O2'" th:text="Option2"></option>
                    <option th:value="'O3'" th:text="Option3"></option>
                </select>
            </div>


            <div class="mt-3 mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</main>

<footer></footer>
</body>

</html>